BOT_TOKEN = YOUR_DISCORD_BOT_TOKEN
API_KEY = YOUR_TMDB_API_KEY
API_ACCESS_TOKEN = YOUR_TMDB_API_ACCESS_TOKEN

BASE_URL = TMDB_BASE_URL
ENDPOINT_SERIES = TMDB_TV_SERIES_ENDPOINT
ENDPOINT_MOVIES_TOP_RATED = TMDB_TOP_RATED_MOVIES_ENDPOINT
ENDPOINT_MOVIES_POPULAR = TMDB_POPULAR_MOVIES_ENDPOINT
ENDPOINT_GENRE_SERIES = TMDB_TV_GENRES_ENDPOINT
ENDPOINT_GENRE_MOVIES = TMDB_MOVIE_GENRES_ENDPOINT
ENDPOINT_LANGUAGE = TMDB_LANGUAGES_ENDPOINT

DB_HOST = YOUR_DATABASE_HOST
DB_NAME = YOUR_DATABASE_NAME
DB_USER = YOUR_DATABASE_USERNAME
DB_PASSWORD = YOUR_DATABASE_PASSWORD
DB_PORT = YOUR_DATABASE_PORT

COLOR_CODE = EMBED_COLOR_CODE
PLATYPUS_THUMBNAIL = EMBED_THUMBNAIL_URL
PLATYPUS_IMAGE = EMBED_IMAGE_URL